#
*.pdf
*.json
#*.csv
*.txt
*.eps
*.sav
*.pkl
*.ipynb_checkpoints
*.h5
*.hdf
*.parquet
*.feather
*.compress
*.o
*.pyc
*.pit
*.xlsx
*.unf
*.bin
*.out
*.so
*.conf
*.dat
*.mat
*.dms
*.zip
*.sgy
*.lrz
#
OLDREPO/*
#
Classification/Data/*
Classification/data/*
