[submodule "ML4CFD/ML4CFD"]
	path = ML4CFD/ML4CFD
	url = https://github.com/PatWie/tensorflow-cmake.git
[submodule "ML4CFD/tensorflow-cmake"]
	path = ML4CFD/tensorflow-cmake
	url = https://github.com/PatWie/tensorflow-cmake.git
[submodule "ML4CFD/tensorflow_capi_sample"]
	path = ML4CFD/tensorflow_capi_sample
	url = https://github.com/AmirulOm/tensorflow_capi_sample.git
[submodule "ML4CFD/hello_tf_c_api"]
	path = ML4CFD/hello_tf_c_api
	url = https://github.com/Neargye/hello_tf_c_api.git
[submodule "ML4CFD/forpy"]
	path = ML4CFD/forpy
	url = https://github.com/ylikx/forpy.git
#[submodule "ML4CFD/deepmd-kit"]
#	path = ML4CFD/deepmd-kit
#	url = https://github.com/deepmodeling/deepmd-kit.git
