# Pdf files
*.pdf
#*.csv
*.txt

ML4STS/*
OLDREPO/*

# Dataset
TransportCoeffsRegression/data/dataset_lite.csv
TransportCoeffsRegression/data/dataset_MD_10000K.csv
TransportCoeffsRegression/data/dataset_MD.csv
TransportCoeffsRegression/data/dataset_TD.csv

Classification/Data/*

/Euler_1d_shock_STS/data/.*txt
#Euler_1d_shock_STS/data/dataset_STS.txt
#Euler_1d_shock_STS/data/datashock1d001.txt
#Euler_1d_shock_STS/data/datashock1dlite.txt
#Euler_1d_shock_STS/data/datashock1d.txt

/home/lk/Public/ML4STS/Regression/Data/TCs_air5_MD.txt
/home/lk/Public/ML4STS/Regression/Data/TCs_air5.txt
/Regression/Data/*
