# Pdf files
*.pdf

# Dataset
TransportCoeffsRegression/data/dataset_lite.csv
TransportCoeffsRegression/data/dataset_MD_10000K.csv
TransportCoeffsRegression/data/dataset_MD.csv
TransportCoeffsRegression/data/dataset_TD.csv

Euler_1d_shock_STS/data/dataset_STS.txt
Euler_1d_shock_STS/data/datashock1d001.txt
Euler_1d_shock_STS/data/datashock1dlite.txt
Euler_1d_shock_STS/data/datashock1d.txt
